extends main_layout.pug
block body-content
    .container-fluid
        .row
            .col-lg-2
                ul.list-group
                    each suburb in suburbs
                        li.list-group-item
                            i.fas.fa-road
                            a(href="/" + suburb.suburb)= suburb.suburb
            .col-lg-10
                div.grid-container
                    each house in properties
                        .card

                            img.card-img-top(src="images/houses/" + house.image_name alt="Card image cap")
                            .card-body
                                .card-title.fas.fa-map-marker
                                span=house.suburb
                                br
                                p.card-text.fas.fa-road
                                span=house.address
                                br
                                button.btn.btn-primary.btn-block(type='button', data-toggle='modal', data-target='#houseModal', data-id=house.id) More Info

                                #houseModal.modal.fade(tab-index='-1', role='dialog', aria-labelledby="housemodalTitle", aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(role='document')
                                        .modal-content
                                            .modal-header
                                                img.image_modal(src="images/houses/" + house.image_name width='100%')
                                            .modal-body
                                                p.description= house.description
                                            .modal-footer
                                                button.btn.btn-danger(type='button', data-dismiss='modal') Close           
                br
                ul.pagination
                    if (currentPage === 1)
                        li.page-item.disabled
                            a.page-link(href='/') Previous
                    else
                        li.page-item
                            a.page-link(href='/' + (currentPage - 1)) Previous

                    li.page-item.disabled
                        a.page-link
                            =currentPage
                            |  of 
                            =totalPages

                    if (currentPage === totalPages)
                        li.page-item.disabled
                            a.page-link(href='/') Next
                    else
                        -var count= currentPage
                        -count++
                        a.page-link(href='/' + count) Next

